
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Records</h2>
<body>
    <div id="confcontrol" class="control_panel">
<!-- Insert records table here-->
    </div>
</body>
