@using System.DirectoryServices.AccountManagement
@using Microsoft.Ajax.Utilities
@using PepuxFront.Controllers

@if (ViewBag.Auth != null)
{
    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><p class="nav navbar-text navbar-right username">Здравствуйте, @ViewContext.Controller.ViewBag.Name</p></li>
            <li>@Html.ActionLink("Выход", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
        </ul>
    }
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

