@using PepuxFront.Controllers
@model IEnumerable<PepuxFront.IpServiceLink.allrecords>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/DataTables/datatables.select.min.js")"></script>
<script src="@Url.Content("~/Scripts/moment-with-locales.min.js")"></script>

<div class="control_grid">
    <table id="table_rec" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название конференции</th>
                <th>Инициатор</th>
                <th>Время начала</th>
                <th>Время окончания</th>
                <th>Ссылка</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="phonebook_buttons">
        <input id="delete" type="button" onclick="delete_records()" value="Удалить" class="phonebook_button_delete" />
    </div>
</div>

<script>
    var oRecordsTable;

    $(document).ready(function () {
        oRecordsTable = $('#table_rec').DataTable({
            "ordering": false,
            "searching": true,
            "paging": true,
            "autoWidth": false,
            "processing": true,
            "pageLength": 30,
            "lengthChange": false,
            "serverSide": true,
            "select": {
                "style": 'multi',
            },

            "ajax": {
                "type": "POST",
                "url": "/VideoRecords/VideoRecords_Ajax",
                "contentType": 'application/json; charset=utf-8',
                "data": function (data) { return data = JSON.stringify(data); }
            },

            "columns": [
                { "data": "ID", "visible": false, "searchable": false },
                { "data": "Conf" },
                { "data": "PName" },
                { "data": "Tstart", "searchable": false },
                { "data": "Tfinish", "searchable": false },
                { "data": "Link", "searchable": false },
            ],
            "columnDefs": [
                {
                    "targets": 3, "data": "Tstart",
                    "render": function (data)   {
                        var datetime = new Date(parseInt(data.substr(6)));
                        var datewrapper = moment(datetime);
                        return datewrapper.format('LLL');
                    }
                 },

                {
                    "targets": 4, "data": "Tfinish",
                    "render": function (data) {
                        var datetime = new Date(parseInt(data.substr(6)));
                        var datewrapper = moment(datetime);
                        return datewrapper.format('LLL');
                    }
                },

                {
                    "targets": 5, "data": "Link",
                    "render": function (data, type, full, meta)     {
                         return '<a href="' + data + '">' + data + '</a>';
                                                                    }
                },
            ],
            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "rowSelected": "0 рядов выделено",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },
        });
    });
    function refresh_rec() {
        if (oRecordsTable != null)
            oRecordsTable.ajax.reload();
    };
    function delete_records() {
        var data = [];
        var arrayToDelete = oRecordsTable.cells('.selected', 0, { page: 'current' }).data();
        for (var i = 0; i < arrayToDelete.length; i++) {
            data[i] = arrayToDelete[i];
        }
        if (data != null) {
            $.ajax({
                "url": "/VideoRecords/VideoRecords_Delete",
                "type": "POST",
                "contentType": "application/json; charset=utf-8",
                "data": JSON.stringify({ pbrArray: data }),
            });
        }
        setTimeout(refresh_rec(), 2000);
    };
</script>
