@using System.ServiceModel.Configuration
@using Microsoft.Ajax.Utilities
@using PepuxFront.Controllers
@model PepuxFront.IpServiceLink.addrec
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/DataTables/datatables.select.min.js")"></script>

<div class="control_grid">
    <table id="table_stat" class="display">
        <thead>
            <tr>
                <th>Имя конференции (ВПК)</th>
                <th>Время начала</th>
                <th>Время окончания</th>
                <th>Длительность</th>
                <th>Количество участников</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="popup_block" class="hide">
    <div id="popup_content" class="b-popup b-popup-content">
        <table id="table_parts">
            <thead>
                <tr>
                    <th>Имя конференции (ВПК)</th>
                    <th>Роль</th>
                    <th>Алиас</th>
                    <th>Время начала</th>
                    <th>Время окончания</th>
                    <th>Длительность</th>
                    <th>Отображаемое имя</th>
                    <th>Протокол</th>
                    <th>Устройство</th>
                    <th>IP-адрес:порт</th>
                    <th>Причина отключения</th>
                    <th>Видео статистика</th>
                    <th>Аудио статистика</th>
                    <th>Презентация статистика</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var oStatisticsTable;
    var cobaMgntAddress = "10.129.15.128";
    function refresh() {
        if (oStatisticsTable != null)
            oStatisticsTable.ajax.reload();
    }
    setInterval("refresh()", 3000000);

    $(document).ready(function() {
        oStatisticsTable = $('#table_stat').DataTable({
            "ordering": true,
            "searching": true,
            "paging": true,
            "autoWidth": false,
            "processing": true,
            "order": [[ 2, 'asc' ]],
            "pageLength": 30,
            "lengthChange": false,
            //"serverSide": true,
            "select": {
                "style": 'multi',
            },

            "ajax": {
                "type": "POST",
                "url": "/Statistics/GetHistoryVMR",
                "contentType": 'application/json; charset=utf-8',
                "data": function(data) { return data = JSON.stringify(data); }
            },

            "columns": [
                { "data": "vmr" },
                { "data": "start_time2" },
                { "data": "end_time2" },
                { "data": "duration", "searchable": false },
                { "data": "participants", "searchable": false},
            ],

            "columnDefs": [
                {
                    "targets": 4, "data": "participants",
                    "render": function (data, type, full, meta)     {
                        return data + '<a href="\">Подробнее</a>';
                    }
                },
            ],

            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "rowSelected": "0 рядов выделено",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },
        });
    });
    function popup_parts_table() {
        oParticipantsTable = $('#table_parts').DataTable({
            "ordering": true,
            "searching": true,
            "paging": true,
            "autoWidth": false,
            "processing": true,
            "lengthChange": false,
            "order": [[2, 'asc']],
            "pageLength": 30,
            //"serverSide": true,
            "select": {
                "style": 'multi',
            },

            "ajax": {
                "type": "POST",
                "url": "/Phonebook/PhonebookAll_Ajax",
                "contentType": 'application/json; charset=utf-8',
                "data": function (data) { return data = JSON.stringify(data); }
            },

            "columns": [
                { "data": "vmr" },
                { "data": "role", "searchable": false },
                { "data": "alias" },
                { "data": "startTime" },
                { "data": "finishTime" },
                { "data": "duration", "searchable": false },
                { "data": "displayName" },
                { "data": "protocol", "searchable": false },
                { "data": "device" },
                { "data": "ip_add_port" },
                { "data": "discReason" },
                { "data": "participants" },
                { "data": "videoCodec_t", "visible": false, "searchable": false},
                { "data": "videoCodec_r", "visible": false, "searchable": false},
                { "data": "videoBitrate_t", "visible": false, "searchable": false},
                { "data": "videoBitrate_r", "visible": false, "searchable": false},
                { "data": "videoResolution_t", "visible": false, "searchable": false},
                { "data": "videoResolution_r", "visible": false, "searchable": false},
                { "data": "audioCodec_t", "visible": false, "searchable": false},
                { "data": "audioCodec_r", "visible": false, "searchable": false},
                { "data": "audioBitrate_t", "visible": false, "searchable": false},
                { "data": "audioBitrate_r", "visible": false, "searchable": false},
                { "data": "videoCodec_t", "visible": false, "searchable": false},
                { "data": "videoCodec_t", "visible": false, "searchable": false},
                { "data": "presCodec_t", "visible": false, "searchable": false},
                { "data": "presCodec_r", "visible": false, "searchable": false},
                { "data": "presBitrate_t", "visible": false, "searchable": false},
                { "data": "presBitrate_r", "visible": false, "searchable": false},
                { "data": "presResolution_t", "visible": false, "searchable": false},
                { "data": "presResolution_r", "visible": false, "searchable": false},
            ],          

            "columnDefs": [
                {
                    "targets": 12, "data": "videoCodec_r",
                    "render": function (data, type, full, meta)     {
                        return full.videoCodec_r + '/' + full.videoCodec_r + ', ' + full.videoBitrate_t + '/' + full.videoBitrate_r + ', ' + full.videoResolution_t + '/' + full.videoResolution_r;
                    }
                },
                {
                    "targets": 13, "data": "audioCodec_t",
                    "render": function (data, type, full, meta) {
                        return full.audioCodec_t + '/' + full.audioCodec_r + ', ' + full.audioBitrate_t + '/' + full.audioBitrate_r;
                    }
                },
                {
                    "targets": 14, "data": "presCodec_r",
                    "render": function (data, type, full, meta) {
                        return full.presCodec_r + '/' + full.presCodec_r + ', ' + full.presBitrate_t + '/' + full.presBitrate_r + ', ' + full.presResolution_t + '/' + full.presResolution_r;
                    }
                },
            ],

            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },

        });
    };
    function refresh_stats() {
        if (oStatisticsTable != null)
            oStatisticsTable.ajax.reload();
    };

    function refresh_parts() {
        if (oParticipantsTable != null)
            oParticipantsTable.ajax.reload();
    };

    function display_parts() {
        event.stopPropagation();
        document.getElementById("popup_block").className = "b-popup b-popup-content";
        if (oParticipantsTable == null) {
            popup_parts_table();
        } else {
            setTimeout(refresh_parts, 500);
        }
    };

    $(document).on("click", function (e) {
        if (!$("#popup_content").is(e.target) && $("#popup_content").has(e.target).length == 0 && document.getElementById("popup_block").className == "b-popup b-popup-content") {
            document.getElementById("popup_block").className = "hide";
        };
    });
</script>