@using System.ServiceModel.Configuration
@using Microsoft.Ajax.Utilities
@using PepuxFront.Controllers
@using PepuxFront.IpServiceLink
@model PepuxFront.IpServiceLink.ActiveConfs

<div class="control_grid">
    <table id="table_ac" class="display">
        <thead>
            <tr>
                <th>Имя виртуальной переговорной комнаты</th>
                <th>Дата начала мероприятия</th>
                <th>Блокировка мероприятия</th>
                <th>Участники</th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="popup_block" class="hide">
    <div id="popup_content" class="b-popup b-popup-content">
        <table id="table_ap">
            <thead>
                <tr>
                    <th>Ведущий</th>
                    <th>Качество</th>
                    <th>Вх./исх.</th>
                    <th>Время подкл.</th>
                    <th>Имя</th>
                    <th>Протокол</th>
                    <th>Медиа-поток</th>
                    <th>Микрофон</th>
                    <th>Презентует</th>
                    <th>Стримит</th>
                    <th>IP-адрес</th>
                    <th>IP-порт</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

    var oActConfTable = null;
    var oActPartTable = null;
    var confParts = false;
    var confName = 0;
    function refresh() {
        if (oActConfTable != null)
            oActConfTable.ajax.reload();
    }
    setInterval("refresh()", 30000);

    var uname = @AccountController.Uname;

    $(document).ready(function() {
        oActConfTable = $('#table_ac').DataTable({
            "ordering": false,
            "searching": true,
            "paging": true,
            "autoWidth": false,
            "processing": true,
            "lengthChange": false,

            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": "/Admin/ActiveConf_Ajax",
                "contentType": 'application/json; charset=utf-8',
                "data": function(data) { return data = JSON.stringify(data); }
            },

            "columns": [
                { "data": "name" },
                { "data": "start_time2", "searchable": false },
                { "searchable": false },
                { "searchable": false },
                { "searchable": false }
            ],
            "columnDefs": [
                {
                    "targets": -3,
                    "data": "is_locked",
                    "render": function (data) {
                        if (data) {
                            return '<div class="fa fa-lock fa-fw brand-color"></div>';
                        } else {
                            return '<div class="fa fa-unlock fa-fw brand-color"></div>';
                        } 
                    }
                },
                {
                    "targets": -2,
                    "data": "name",
                    "render": function() {
                        return '<div><a href="#" onclick="javascript:confParts=true">Участники</a></div>';
                    }
                },
                {
                    "targets": -1,
                    "data": "name",
                    "render": function(data) {
                        return '<a href="Controlpanel/Control?confname=' + data + '&dispname=' + uname + '">Управление</a>';
                    }
                },
            ],

            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },
            "order": [[0, 'asc']],
            "pageLength": 10,
        });
    });

    $(document).on("click", function (e) {
        if (!$("#popup_content").is(e.target) && $("#popup_content").has(e.target).length == 0) {
            document.getElementById("popup_block").className = "hide";
            if (oActPartTable != null)
                oActPartTable.destroy();
        }
    });

    $('#table_ac tbody').on('click', 'td', function() {
        if (confParts) {
            confParts = false;
            confName = oActConfTable.cell(this).data();
            event.stopPropagation();
            document.getElementById("popup_block").className = "b-popup";

            oActPartTable = $('#table_ap').DataTable({
                "ordering": false,
                "searching": true,
                "paging": true,
                "autoWidth": false,
                "processing": true,
                "lengthChange": false,

                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": "/Admin/ActiveParts_Ajax?Confname=" + confName + "",
                    "contentType": 'application/json; charset=utf-8',
                    "data": function(data) { return data = JSON.stringify(data); }
                },

                "columns": [
                    { "searchable": false },
                    { "data": "bandwidth", "searchable": false },
                    { "searchable": false },
                    { "data": "connect_time", "searchable": false },
                    { "data": "display_name", "searchable": true },
                    { "data": "protocol", "searchable": false },
                    { "searchable": false },
                    { "searchable": false },
                    { "searchable": false },
                    { "searchable": false },
                    { "data": "remote_address", "searchable": false },
                    { "data": "remote_port", "searchable": false },
                ],

                "columnDefs": [
                {
                    "targets": 0,
                    "data": "role",
                    "render": function (data) {
                        if (data == 'chair') {
                            return '<div class="fa fa-check fa-fw green"></div>';
                        } else {
                            return '<div class="fa fa-times fa-fw red"></div>';
                        } 
                    }
                },
                {
                    "targets": 2,
                    "data": "call_direction",
                    "render": function (data) {
                        if (data == 'in') {
                            return '<div class="fa fa-arrow-down fa-fw brand-color"></div>';
                        } else {
                            return '<div class="fa fa-arrow-up fa-fw brand-color"></div>';
                        }
                    }
                },
                {
                    "targets": 6,
                    "data": "has_media",
                    "render": function (data) {
                        if (data) {
                            return '<div class="fa fa-check fa-fw green"></div>';
                        } else {
                            return '<div class="fa fa-times fa-fw red"></div>';
                        } 
                    }
                },
                {
                    "targets": 7,
                    "data": "is_muted",
                    "render": function (data) {
                        if (!data) {
                            return '<div class="fa fa-microphone fa-fw green"></div>';
                        } else {
                            return '<div class="fa fa-microphone-slash fa-fw red"></div>';
                        } 
                    }
                },
                {
                    "targets": 8,
                    "data": "is_presenting",
                    "render": function (data) {
                        if (data) {
                            return '<div class="fa fa-bar-chart fa-fw green"></div>';
                        } else {
                            return '<div class="fa fa-bar-chart fa-fw red"></div>';
                        } 
                    }
                },
                {
                    "targets": 9,
                    "data": "is_streaming",
                    "render": function (data) {
                        if (!data) {
                            return '<div class="fa fa-cloud fa-fw black"></div>';
                        } else {
                            return '<div class="fa fa-cloud-upload fa-fw green"></div>';
                        }
                    }
                },
                ],
                "language": {
                    "processing": "Подождите...",
                    "search": "Поиск:",
                    "lengthMenu": "Показать _MENU_ записей",
                    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty": "Записи с 0 до 0 из 0 записей",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "loadingRecords": "Загрузка записей...",
                    "zeroRecords": "Записи отсутствуют.",
                    "emptyTable": "В таблице отсутствуют данные",
                    "paginate": {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "aria": {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                    }
                },
                "order": [[4, 'asc']],
                "pageLength": 30
            });
        }
    });
</script>