@using System.ServiceModel.Configuration
@using Microsoft.Ajax.Utilities
@using PepuxFront.Controllers
@model PepuxFront.IpServiceLink.ActiveConfs

<div class="control_grid">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Имя виртуальной переговорной комнаты</th>
                <th>Дата начала мероприятия</th>
                <th>Блокировка мероприятия</th>
                <th>Участники</th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



<script type="text/javascript">

    var oActConfTable = null;
    function refresh() {
        if (oActConfTable != null)
            oActConfTable.ajax.reload();
    }
    setInterval("refresh()", 30000);

    $(document).ready(function () {
        var uname = "@ViewData["AccountController.Uname"]";

        var oActConfTable = $('#table_id').DataTable({
            "ordering": false,
            "searching": true,
            "paging": true,
            "autoWidth": true,
            "processing": false,
            "lengthChange": false,

            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": "/Admin/ActiveConf_Ajax",
                "contentType": 'application/json; charset=utf-8',
                "data": function(data) { return data = JSON.stringify(data); }
            },

            "columns": [
                { "data": "name" },
                { "data": "start_time2", "searchable": false },
                { "data": "is_locked", "searchable": false },
                { "searchable": false },
                { "searchable": false }
            ],
            "columnDefs": [
                {
                    "targets": -2,
                    "data": "name",
                    "render": function ( data ) {
                        return '<a href="'+data+'">Участники</a>'; }
                },
                {
                    "targets": -1,
                    "data": "name",
                    "render": function ( data ) {
                        return '<a href="Controlpanel/Control?confname='+data+'&dispname='+uname+'">Управление</a>'; }
                },
            ],

            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },
            "order": [[0, 'asc']],
            "pageLength": 10
        });        
    });


</script>