@using System.ServiceModel.Configuration
@using Microsoft.Ajax.Utilities
@using PepuxFront.Controllers
@model PepuxFront.IpServiceLink.ActiveConfs
<div class="control_grid">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Имя виртуальной переговорной комнаты</th>
                <th>Дата начала мероприятия</th>
                <th>Блокировка мероприятия</th>
                <th>Участники</th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



<script type="text/javascript">

    var oActConfTable = null;
    function refresh() {
        if (oActConfTable != null)
            oActConfTable.ajax.reload();
    }
    setInterval("refresh()", 30000);

    $(document).ready(function () {
            oActConfTable = $('#table_id').DataTable({
            "ordering": false,
            "searching": true,
            "paging": true,
            "autoWidth": true,
            "processing": false,
            "lengthChange": false,

            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": "/Admin/ActiveConf_Read",
                "contentType": 'application/json; charset=utf-8',
                "data": function (data) { return data = JSON.stringify(data); }
            },
            
            "columns": [
                { "data": "name" },
                { "data": "start_time2" },
                { "data": "is_locked" },
                {
                    "fnRender": function(oObj) {    
                        return "<input type='button' value='Exfcnybrb' class='reciveDetailOffer'>";
                    }
                },
                {
                    "fnRender": function(oObj) {    
                        return "<input type='button' value='Exfcnybrb' class='reciveDetailOffer'>";
                    }
                }
            ],
            "columnDefs": [
            {
                "targets": -2,
                "data": null,
                "defaultContent": "<button>Участники</button>"
            },
            {
                "targets": -1,
                "data": null,
                "defaultContent": "<button onclick='myFunction()'>Управление</button>"
            }
            ],

            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },
            "order": [[1, 'asc']],
        });
        $('#example tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            alert(data[0] + "'s salary is: " + data[5]);
        });

    });


</script>