@using PepuxFront.Controllers
@model IEnumerable<PepuxFront.IpServiceLink.ActiveConfs>

@(Html.Kendo().Grid<PepuxFront.IpServiceLink.ActiveConfs>()
      .Name("acgrid")
      .Pdf(m => { m.FileName(AccountController.Uname + "_" + DateTime.Now + ".pdf");
                    m.AllPages();
      })
      .Excel(m => { m.FileName(AccountController.Uname + "_" + DateTime.Now + ".xlsx");
                      m.AllPages(true);
                      m.Filterable(true);
          
      })
      .ToolBar(m => { m.Pdf();
                        m.Excel();
         
      })
      .DataSource(dataSource => dataSource 
          .Ajax() 
              .Read(read => read.Action("ActiveConf_Read", "Admin"))
              .AutoSync(true)
                  .PageSize(3)
       )
      .Columns(columns =>
      {
          columns.Bound(product => product.name).Title("Название конференции");
          columns.Bound(product => product.start_time2).Title("Время начала");
          columns.Bound(product => product.lock_path).Title("Блокировка").Encoded(false);
          columns.Bound(i => i.name).Title("Список участников").ClientTemplate(@Html.ActionLink("Участники", "GetParticipants", "Admin", new { confname = "#= name #" }, new { @class = "modal-link btn btn-success" }).ToHtmlString());

      })
      
                                    .Pageable() 
                                    .Sortable() 
)

<script type="text/javascript">

    $(function() {
        setInterval(function() { $("#acgrid").data("kendoGrid").dataSource.fetch(); }, 3000); 
    });

</script>
<script>
    $(document).ready(function() {
        $("a[href^='http:']:not([href*='" + window.location.host + "'])").each(function() {
            $(this).attr("target", "_blank");
        });
    });

</script>
<div id="modal-wrapper" class="modal-wrapper">
    
    <div id="modal-container" class="modal fade"
         tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('body').on('click', '.modal-link', function(e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        $('body').on('click', '.modal-close-btn', function() {
            $('#modal-container').modal('hide');
        });
        $('#modal-container').on('hidden.bs.modal', function() {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function() {
            return false;
        });
        $('.modal').on('shown.bs.modal', function() {
            $(this).find('.modal-container').css({
                'margin-top': function() {
                    return -($(this).outerHeight() / 2);
                },
                'margin-left': function() {
                    return -($(this).outerWidth() / 2);
                }
            });
        });
    });
</script>


