@using PepuxFront.IpServiceLink
@model IEnumerable<PepuxFront.IpServiceLink.ActiveConfs>
@{
                                                    
     bool tags = false;
}


@{
    Service servicemodel = new Service();
    
}<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>



<div id="contributors">
    @Html.Partial("GetACData")
</div>
@{ Html.RenderAction("UserGet", "Admin"); }
@*<script type="text/javascript">

    $(function () {
        setInterval(function () { $('#contributors').load('/Admin/ActiveConf_Read'); }, 3000); // every 3 sec
    });

</script>*@



