@using PepuxFront.Controllers
@model PepuxFront.IpServiceLink.addrec
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="confcontrol" class="control_panel">
        <table id="table_phonebook" class="display">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Должность</th>
                    <th>Телефон (внут.)</th>
                    <th>Телефон (внеш.)</th>
                    <th>Телефон (моб.)</th>
                    <th>Часовой пояс</th>
                    <th>Группа</th>
                    <th>SIP-адрес</th>
                    <th>H.323-адрес</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div>
            <input id="find" type="button" onclick="" value="Удалить" class="phonebook_button_delete"/>
            <input id="add" type="button" onclick="" value="Добавить" class="phonebook_button_add"/>
        </div>
    </div>
</body>

<script type="text/javascript">
    var oPhonebookTable;
    function refresh() {
        if (oPhonebookTable != null)
            oPhonebookTable.ajax.reload();
    }
    setInterval("refresh()", 10000);

    $(document).ready(function () {
        oPhonebookTable = $('#table_phonebook').DataTable({
            "ordering": false,
            "searching": true,
            "paging": false,
            "autoWidth": false,
            "processing": true,
            "order": [[7, 'asc']],
            "lengthChange": false,
            "serverSide": true,

            "ajax": {
                "type": "POST",
                "url": "/Phonebook/Phonebook_Ajax?Uname=@AccountController.Uname",
                "contentType": 'application/json; charset=utf-8',
                "data": function (data) { return data = JSON.stringify(data); }
            },

            "columns": [
                { "data": "name", "searchable": true},
                { "data": "surname", "searchable": true },
                { "data": "postion", "searchable": false },
                { "data": "tel_int", "searchable": false },
                { "data": "tel_ext", "searchable": false },
                { "data": "tel_mob", "searchable": false },
                { "data": "timezone", "searchable": false },
                { "data": "group", "searchable": false },
                { "data": "sip_add", "searchable": false },
                { "data": "h323_add", "searchable": false }
            ],
            "columnDefs": [
            { "visible": true, "targets": 7 }
            ],

            "drawCallback": function ( settings ) {
                var api = this.api();
                var rows = api.rows( {page:'current'} ).nodes();
                var last=null;

                api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                    if ( last !== group ) {
                        $(rows).eq( i ).before(
                            '<tr class="group"><td colspan="10">'+group+'</td></tr>'
                        );

                        last = group;
                    }
                } );
            },


            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },
        });
    });
</script>