
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="confcontrol" class="control_panel">
        <table>
            <tr>
                <td class="controlcol">
                    <div class="phonebook_list">
                        <div class="phonebook_entry_ul">
                            <b>Персональная телефонная книга</b>
                        </div>
                        <div id="slimscroll">
                            <table id="phonebooklist" width="100%">
                                <tr class="phonebook_entry">
                                    <td width="30%">Иванов</td>
                                    <td width="30%">Иван</td>
                                    <td width="30%">Москва</td>
                                    <td width="10%">111</td>
                                </tr>
                                <tr class="phonebook_entry">
                                    <td>Петров</td>
                                    <td>Пётр</td>
                                    <td>Нижний Новгород</td>
                                    <td>222</td>
                                </tr>
                                <tr class="phonebook_entry">
                                    <td>Петров</td>
                                    <td>Пётр</td>
                                    <td>Нижний Новгород</td>
                                    <td>222</td>
                                </tr>
                                <tr class="phonebook_entry">
                                    <td>Петров</td>
                                    <td>Пётр</td>
                                    <td>Нижний Новгород</td>
                                    <td>222</td>
                                </tr>
                                <tr class="phonebook_entry">
                                    <td>Петров</td>
                                    <td>Пётр</td>
                                    <td>Нижний Новгород</td>
                                    <td>222</td>
                                </tr>
                                <tr class="phonebook_entry">
                                    <td>Петров</td>
                                    <td>Пётр</td>
                                    <td>Нижний Новгород</td>
                                    <td>222</td>
                                </tr>
                                <tr class="phonebook_entry">
                                    <td>Петров</td>
                                    <td>Пётр</td>
                                    <td>Нижний Новгород</td>
                                    <td>222</td>
                                </tr>
                                <tr class="phonebook_entry">
                                    <td>Петров</td>
                                    <td>Пётр</td>
                                    <td>Нижний Новгород</td>
                                    <td>222</td>
                                </tr>
                                <tr class="phonebook_entry">
                                    <td>Петров</td>
                                    <td>Пётр</td>
                                    <td>Нижний Новгород</td>
                                    <td>222</td>
                                </tr>
                                <tr class="phonebook_entry">
                                    <td>Петров</td>
                                    <td>Пётр</td>
                                    <td>Нижний Новгород</td>
                                    <td>222</td>
                                </tr>
                                <tr class="phonebook_entry">
                                    <td>Петров</td>
                                    <td>Пётр</td>
                                    <td>Нижний Новгород</td>
                                    <td>222</td>
                                </tr>
                                <!--Fill from DB-->
                            </table>
                        </div>
                    </div>
                    <div>
                        <input id="find" type="button" onclick="" value="Удалить" class="phonebook_button_delete" />
                        <input id="find" type="button" onclick="" value="Добавить" class="phonebook_button_add" />
                    </div>

                <td class="controlcol">
                    <div id="phonebookfill" class="phonebook_fill">
                        <fieldset>
                            <label class="phonebook_label">Фамилия</label>
                            <input id="Surname" value="" class="form-control phonebook_entry" readonly>
                            <label class="phonebook_label">Имя</label>
                            <input id="Name" value="" class="form-control phonebook_entry" readonly>
                            <label class="phonebook_label">Адрес</label>
                            <input id="Address" value="" class="form-control phonebook_entry" readonly>
                            <label class="phonebook_label">Телефон</label>
                            <input id="Phone" value="" class="form-control phonebook_entry" readonly>  
                        </fieldset>
                        <input id="save" type="button" onclick="" value="Сохранить" class="phonebook_button_save" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>

<script type="text/javascript">
    (function($){
        $('#slimscroll').slimScroll({
            width: '100%',
            height: '98%',
            margin: '30px',
            size: '7px',
            position: 'right',
            color: '#332383',
            distance: '1px',
        });
    })(jQuery);

    var last = 0;

    $(document).ready(function () {
        $('#phonebooklist').on('click', 'tr', function()
        {
            $(last).removeClass("phonebook_entry_highlighted");
            $(this).addClass("phonebook_entry_highlighted");
            $('#Surname').val($(this.cells[0]).text());
            $('#Name').val($(this.cells[1]).text());
            $('#Address').val($(this.cells[2]).text());
            $('#Phone').val($(this.cells[3]).text());
            last = this;
        });
    });




            /*var ok = false;
            var theid = $(this).attr('id').replace("name", "");
            var newaddedrows = new Array();
            for (index = 0; index < addedrows.length; ++index) {
                // if already selected then remove
                if (addedrows[index] == theid) {
                    $(this).css("background-color", "#fff");
                    // remove from second table :
                    var tr = $("#dest" + theid);
                    tr.css("background-color", "#332383");
                    tr.fadeOut(400, function () {
                        tr.remove();
                    });
                    //the boolean
                    ok = true;
                } else {
                    newaddedrows.push(addedrows[index]);
                }
            }
            addedrows = newaddedrows;
            // if no match found then add the row :
            if (ok == false) {
                // retrieve the id of the element to match the id of the new row :
                addedrows.push(theid);
                $(this).css("background-color", "#332383");
                $('#destinationtable tr:last').after('<tr id="dest' + theid + '"><td>'
                                               + $(this).find("td").eq(0).html() + '</td><td>'
                                               + $(this).find("td").eq(1).html() + '</td><td>'
                                               + $(this).find("td").eq(2).html() + '</td><td>'
                                               + $(this).find("td").eq(3).html() + '</td><td>'
                                               + $(this).find("td").eq(4).html() + '</td></tr>');
            }*/

</script>

