@using System.ServiceModel.Configuration
@using Microsoft.Ajax.Utilities
@using PepuxFront.Controllers
@model PepuxFront.IpServiceLink.addrec
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/DataTables/datatables.select.min.js")"></script>

<div class="control_grid">
    <table id="table_pb" class="display">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Должность</th>
            <th>Телефон (внут.)</th>
            <th>Телефон (внеш.)</th>
            <th>Телефон (моб.)</th>
            <th>Email</th>
            <th>Часовой пояс</th>
            <th>Группа</th>
            <th>SIP-адрес</th>
            <th>H.323-адрес</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="phonebook_buttons">
        <input id="delete" type="button" onclick="delete_pb_users()" value="Удалить" class="phonebook_button_delete"/>
        <input id="add" type="button" onclick="display_du_users()" value="Добавить..." class="phonebook_button_add"/>
    </div>
</div>
<div id="popup_block" class="hide">
    <div id="popup_content" class="b-popup b-popup-content">
        <table id="table_du">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Должность</th>
                <th>Телефон (внут.)</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="phonebook_buttons">
            <input id="save" type="button" onclick="add_pb_users()" value="Сохранить" class="phonebook_button_add" />
        </div>
    </div>
</div>

<script type="text/javascript">
    var oPhonebookTable;
    var oDomainusersTable;

    $(document).ready(function() {
        oPhonebookTable = $('#table_pb').DataTable({
            "ordering": false,
            "searching": true,
            "paging": false,
            "autoWidth": false,
            "processing": true,
            "order": [[8, 'asc']],
            "pageLength": 30,
            "lengthChange": false,
            "serverSide": true,
            "select": {
                "style": 'multi',
            },
            rowId: 'surname',

            "ajax": {
                "type": "POST",
                "url": "/Phonebook/Phonebook_Ajax",
                "contentType": 'application/json; charset=utf-8',
                "data": function(data) { return data = JSON.stringify(data); }
            },

            "columns": [
                { "data": "name" },
                { "data": "surname", "searchable": false },
                { "data": "position", "searchable": false },
                { "data": "tel_int", "searchable": false },
                { "data": "tel_ext", "searchable": false },
                { "data": "tel_mob", "searchable": false },
                { "data": "email", "searchable": false },
                { "data": "timezone", "searchable": false },
                { "data": "group", "searchable": false },
                { "data": "sip_add", "searchable": false },
                { "data": "h323_add", "searchable": false },
            ],
            "columnDefs": [
                { "visible": true, "targets": 7 }
            ],

            "drawCallback": function(settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(8, { page: 'current' }).data().each(function(group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="10">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            },


            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },
        });
    });

    function popup_du_table() {
        oDomainusersTable = $('#table_du').DataTable({
            "ordering": false,
            "searching": true,
            "paging": true,
            "autoWidth": false,
            "processing": true,
            "lengthChange": false,
            "order": [[1, 'asc']],
            "pageLength": 30,
            "serverSide": true,
            "select": {
                "style": 'multi',
            },

            "ajax": {
                "type": "POST",
                "url": "/Phonebook/PhonebookAll_Ajax",
                "contentType": 'application/json; charset=utf-8',
                "data": function (data) { return data = JSON.stringify(data); }
            },

            "columns": [
                { "data": "Name" },
                { "data": "Surname", "searchable": false },
                { "data": "Position", "searchable": false },
                { "data": "Phone_int", "searchable": false },
                { "data": "email" },
            ],

            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },

        });
    };

    function refresh_pb() {
        if (oPhonebookTable != null)
            oPhonebookTable.ajax.reload();
    };

    function refresh_du() {
        if (oDomainusersTable != null)
            oDomainusersTable.ajax.reload();
    };

    function delete_pb_users() {
        var arrayToDelete = JSON.stringify(oPhonebookTable.cells({ selected: true}, 0, { page: 'current' }).data());
        if (arrayToDelete !== '') {
            $.ajax({
                url: '/Phonebook/Delete?Uname=@AccountController.Uname',
                type: 'POST',
                data: arrayToDelete,
            });
        }
        refresh_pb();
    };

    function add_pb_users() {
        var arrayToAdd = JSON.stringify(oPhonebookTable.cells({ selected: true }, 0, { page: 'current' }).data());
        if (arrayToAdd !== '') {
            $.ajax({
                url: '/Phonebook/Phonebook_Add',
                type: 'POST',
                data: arrayToAdd,
            });
        }
        document.getElementById("popup_block").className = "hide";
        if (oDomainusersTable != null)
            oDomainusersTable.destroy();
        refresh_pb();
    };

    function display_du_users() {
        event.stopPropagation();
        document.getElementById("popup_block").className = "b-popup b-popup-content";
        if (oDomainusersTable == null) {
            popup_du_table();
        } else {
            refresh_du();
        }
        
    };

    $(document).on("click", function (e) {
        if (!$("#popup_content").is(e.target) && $("#popup_content").has(e.target).length == 0 && document.getElementById("popup_block").className == "b-popup b-popup-content") {
            document.getElementById("popup_block").className = "hide";
            //if (oDomainusersTable != null)
                //oDomainusersTable.destroy();
        };
    });

    
</script>